.barbarian {
    color: #A15818;
}

.demon-hunter {
    color: #A10606;
}

.monk {
    color: #CCDE0B;
}

.witch-doctor {
    color: #18AD45;
}

.wizard {
    color: #1A83B8;
}

.paragon {
    color: #99DDFF;
}

.hardcore {
    color: #ff0000;
}

.softcore {
    color: #ffffff;
}