div.hero-portrait {
    background-image: url('/static/img/portrait-border.png');
    background-repeat: no-repeat;
    background-color: black;
    width: 56px;
    height: 56px;
    padding: 4px;
}

div.hero-portrait-header {
    float: left;
    margin-right: 10px;
}